<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invite</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <script type="module" src="/webfunnel/webfunnel.esm.js"></script> -->
    <script src="/webfunnel/webfunnel/webfunnel.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div
          class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-lg-3 offset-xl-3"
        >
          <web-funnel
            logo-img-path="/images/logo.png"
            api-url="http://localhost:3000"
            get-titles="/getTitles"
          ></web-funnel>
        </div>
      </div>
    </div>
  </body>
</html>
